h1{
          font-size:80px;
          color:red;
          font-family: 'Open Sans Condensed', sans-serif;
}
body{
  background-image: url("ALHS.gif");
}
p{
  font-size:80px;
  color: #615bff;
}
#it{
   font-size:80px;
   color:#f44242;
}
