h1{
          font-size:80px;
          color:red;
          font-family: 'Open Sans Condensed', sans-serif;
          -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 1s;
 animation-name: swageffect;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
}
#index{
  background-image: url("ALHS.gif");
}
p{
  font-size:80px;
  color: #615bff;
}
#it{
   font-size:80px;
   color:#f44242;
}
@keyframes swageffect{
    0%  {color:red;}
   25%  {color:yellow;}
   50%  {color:blue;}
   75%  {color:green;}
   100% {color:red;}
}
@-webkit-keyframes swageffect{
    0%  {color:red;}
   25%  {color:yellow;}
   50%  {color:blue;}
   75%  {color:green;}
   100% {color:red;}
}
